.row.card-row {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    text-align: center;
    max-height: 132px;
}

.card {
    width: 100px;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: transform .3s;
    transform-style: preserve-3d;
    font-size: 3rem;
}

.front, .back {
    backface-visibility: hidden;
}

.back {
    transform: rotateY(0deg);
}

.front {
    position: absolute;
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card.found {
    transform: rotateY(180deg);
}

.back img {
    max-width: 100%;
}