.row.card-row {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    text-align: center;
    place-items: center;
    height: 132px;
}

.card {
    width: 100px;
    font-size: 3rem;
    padding: 0;
    background-color: transparent;
    border: none;
}

.front {
    display: none;
}

.back img {
    max-width: 100%;
}